{% if cardlist %}
<table class="table table-striped">

    <thead>
    <tr>
        <th>Qty</th>
        <th>Art</th>
        <th>Name</th>
        <th>Condition</th>
        <th>Price</th>
        <th></th>

    </tr>


    </thead>
    <tbody>
    {% for card in cardlist %}
    <tr>
        <td style="vertical-align:middle"><input class ="qty-input" id = "qty-{{card.id}}"type="text" onkeydown="return updateQuantity(event, this, {{card.id }})" value="{{ card.quantity }}" size="3" maxlength="3" style="text-align: center;"></td>
        <td><img class="card-preview-sm" onclick="detailView({{ card.card_details.id }}, '{{ card.card_details.name|escapejs }}', {{ card.id }})" id = "art_preview" src="{{ card.card_details.front_art}}" alt="Card Front Preview"></td>
        <td>{{card.card_details.name}}</td>
        <td>{{card.get_wear_display}}</td>
        <td>{{card.printing}}</td>
        <td><i class="fa fa-usd">&nbsp;{{card.price}}</i></td>
        <td><button onclick="removeFromStore({{card.id}})" class="fa fa-close pull-right hidden-btn" aria-hidden="true" ></button></td>

    </tr>
    {% endfor %}
        <tr>
        <td><u id = 'update' onclick='updateAll(this)' style="cursor: pointer;">Update</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    </tbody>

</table>
<a type="button" href="#" onclick="open_sell_card()" class="btn btn-success pull-right">Add Cards for Sale</a>

{% else %}
Your store is empty. <a href="#" onclick="open_sell_card()">Add</a> a card for sale?
{% endif %}