<!DOCTYPE html>

{% load staticfiles %}

<html>
    <!--This is to setup bootstrap and jquery along with anything else we may need.-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
         <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
              type="text/css">


        {% block html%} {% endblock %}
        <title>{% block title %}Card Crab{% endblock %}</title>

    </head>

    <body>
        <header>
            {% include 'navbar.html' %}
        </header>

        <main>
            {% block content %}
            {% endblock %}

            <div class="modal fade" id = "user_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="user_modal_title">User Modal</h4>
                        </div>
                        <div class="modal-body" id = "user_modal_body">
                            <p>Data Here</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </main>

        <footer>

        </footer>

        <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>
        <script type="text/javascript" src={% static 'js/django_csrf_extraction.js' %}></script>
        {% block javascript %}
        {% endblock %}

    </body>

</html>