{% if cardlist %}
<table class="table table-striped">

    <thead>
    <tr>
        <th>Qty</th>
        <th>Art</th>
        <th>Name</th>
        <th>Seller</th>
        <th>Condition</th>
        <th>Print</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>

    </tr>


    </thead>
    <tbody>
    {% for card in cardlist %}
    <tr>
        <td><input class ="qty-input" id = "qty-{{card.id}}"type="text" onkeydown="return updateQuantity(event, this, {{card.id }})"value="{{ card.quantity }}" size="3" maxlength="3" style="text-align: center;"></td>
        <td><img class="card-preview-sm" onclick="detailView({{ card.card_details.id }}, '{{ card.card_details.name }}', {{ card.id }})" id = "art_preview" src="{{ card.card_details.front_art}}" alt="Card Front Preview"></td>
        <td>{{card.card_details.name}}</td>
        <td>{{card.seller}}</td>
        <td>{{card.wear}}</td>
        <td>{{card.printing}}</td>
        <td>{{card.price}}</td>
        <td>{{card.total}}</td>
        <td><button onclick="removeFromCart({{card.id}})" class="fa fa-close pull-right hidden-btn" aria-hidden="true" ></button></td>

    </tr>
    {% endfor %}
        <tr>
        <td><u id = 'update' onclick='updateAll()' style="cursor: pointer;">Update</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td>{{total}}</td>
        <td></td>
    </tr>


    </tbody>

</table>
<a type="button" href="#" class="btn btn-success pull-right">Submit Order</a>
{% else %}
Your cart is empty.
{% endif %}