{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--This is the start of the Jumbo tron that is promoting the expansion of your decks-->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img class="carousel-img" src="http://img14.deviantart.net/0eb2/i/2013/247/f/0/magic_the_gathering_mana_wallpaper_by_amphetamine_ashley-d6l0g9d.png" alt="Chania">
                                </div>

                                <div class="item">
                                  <img class="carousel-img" src="https://kaggle2.blob.core.windows.net/datasets-images/196/417/a63a310f64273c9b048ef3748f524b26/dataset-original.jpg" alt="Chania">
                                </div>

                                <div class="item">
                                  <img class="carousel-img" src="http://i.onionstatic.com/avclub/5507/97/16x9/960.jpg" alt="Flower">
                                </div>

                                <div class="item">
                                  <img class="carousel-img" src="https://d.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2016/05/3059639-poster-1280-magic-the-gathering-lessons.jpg" alt="Flower">
                                </div>
                              </div>

                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>


                    </div>
                </div>
            </div>
        </div>


       <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <center><h2>Welcome, <a href="{% url 'search' %}" aria-label="buy cards">Buy</a> and <a href="{% url 'my_store' %}" aria-label="sell cards">Sell</a> Magic Cards today on Card Crab!</h2></center>

                        <br>
                        <br>
                        <center tabindex="0"><h3>Upcoming Events</h3></center>
                    </div>
                </div>
            </div>
       </div>


        <!--This is the start of the recent events along with there pictures.-->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="media-list">
                            <br>
                            <li class="media">

                                <a class="pull-left" href="http://magic.wizards.com/en/events/premierplay/grandprix/fact-sheet-gpsa17">
                                    <img class="media-object" src="http://magic.wizards.com/sites/mtg/files/images/hero/SanAntonio_Events_Article_Icon_AER.jpg" height="240" width="420" alt="image of poster for San Antonio grandprix">
                                </a>
                                <div class="media-body" tabindex="0">
                                    <h4 class="media-heading">Magic the Gathering comes to San Antonio</h4>
                                    <p>

                                    Grand Prix San Antonio is presented by Cascade Games and takes place March 31 - April 2, 2017. The format for the main event is Team Unified Modern.
                                    <br>
                                    <br>
                                    <b>Main Event Registration Fee:</b> $70
                                    <br>
                                    <b>Maximum Main Event Capacity:</b> 500 teams (1500 players)
                                    <br>
                                    <b>Online Registration:</b> until Friday, March 31, at 9 p.m. local time
                                    <br>
                                    <b>On-site Registration:</b> Friday, March 31, from 12 p.m. – 9 p.m. (subject to availability)
                                    <br>
                                    <br>
                                    There will be no on-site registration on Saturday.
                                    <br>
                                    The Grand Prix will be held at:
                                    <br>
                                    <br>
                                    Henry B. Gonzalez Convention Center
                                    <br>
                                    900 E Market St
                                    <br>
                                    San Antonio, TX 78205
                                    <br>
                                    USA

                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="http://magic.wizards.com/en/events/coverage/ptaer" aria-label="image of a man holding a Magic The Gathering tropy">
                                    <img class="media-object" src="http://magic.wizards.com/sites/mtg/files/ptaer-trophy-shot.jpg" height="240" width="420" align="image of a man holding a Magic The Gathering Trophy">
                                </a>
                                <div class="media-body" tabindex="0">
                                    <h4 class="media-heading">PRO TOUR AETHER REVOLT</h4>
                                    <p>
                                        Sunday Coverage
                                        <br>
                                        Pro Tour Aether Revolt will be remembered for many things, among those the explosion of Mardu Vehicles, the power of the Heart of Kiran, and the dominance of the original DEX Army. Going into this event, the Latin American contingency of three teams—DEX Army, Ligamagic, and DEXThird—represented the crew of players that formed under Pro Tour Hall of Famer Willy Edel, the godfather of Latin American Magic. DEXThird was, looking at their numbers, a team of Pro Tour hopefuls looking to prove themselves among their veteran testing partners from the other two teams.
                                        <br>
                                        <br>
                                        Among those in DEXThird was Lucas Esper Berthoud, a long-time Brazilian player that was competing in his sixth Pro Tour this weekend. It was in this sixth tournament that he saw his rise to the elite over three days, and in it he has learned to keep a calm head through a roller coaster of emotion and tough plays, leading into a match that clinched his Top 8 berth in the final round of swiss. He was joined by friend and testing partner Márcio Carvalho in the top two spots at the end of Saturday, and the two would meet to battle against each other in the finals of the Pro Tour, representing an all-DEX finals as their Mardu Vehicle decks clashed against each other.
                                        <br>
                                        <br>
                                        There, Berthoud and Carvalho traded blows two games apiece, until Berthoud ultimately took down his testing partner 3-2 to clinch a trophy and the $50,000 that comes with it in his very first Pro Tour Top 8.


                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}