{% load staticfiles %}
<input type="hidden" id="current_path" value="{{ request.path }}">
<div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <span>Card Crab</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li id = "home_label">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li id = "cards_label">
                            <a href="{% url 'search' %}">Cards</a>
                        </li>
                        <!--
                        <li class = "dropdown">
                            <a class = "dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class = "caret"></span></a>
                            <ul class = "dropdown-menu">
                                <li><a href="{% url 'add_seller' %}">Add Seller</a></li>
                                <li><a href="{% url 'add_card' %}">Add Card for Sale</a></li>
                                <li><a href="{% url 'add_card_details' %}">Add Card Details</a></li>
                            </ul>
                        </li>
                        -->

                    </ul>
                    <div class="navbar-group navbar-right">
                        <a href = "{% url 'checkout' %}" class="navbar-btn btn btn-default" type="button">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>Shopping Cart</span>
                        </a>
                        <div class="navbar-form navbar-right" role="search">

                            <form class="form-group input-group" method = 'post' action="{% url 'search' %}">
                                {% csrf_token %}
                                <span class="input-group-addon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                <input type="text" id="search_box" name="search_text" class="form-control input-md" placeholder="Search" value="{{ search_text|default:'' }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% block javascript %}
<script type="text/javascript" src={% static 'js/navbar.js' %}></script>
{% endblock %}