{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}
        <div class="section">
            <div class="container">
                <div class="row">
                    
                    <!--This groups the filter panels-->
                    <div class="col-md-3">
                        <!--This is for the condition filter-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Condition</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Wear
                                        <ul class="media-list">
                                            {% for wear in filters.wear %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">&nbsp;{{ wear }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Printing
                                        <ul class="media-list">
                                            {% for print in filters.print %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">&nbsp;{{ print }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--This is for the card filters-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Card Filters</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Color
                                        <ul class="media-list">
                                            {% for color in filters.color %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">&nbsp;{{ color }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Rarity
                                        <ul class="media-list">
                                           {% for rarity in filters.rarity %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">&nbsp;{{ rarity }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Set
                                        <ul class="media-list">
                                            {% for set in filters.set %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">&nbsp;{{ set }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!--This is for the results section-->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Results</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <!--This is an example of a card result-->
                                    {% for card in cards %}
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="{{ card.front_art }} " height="176" width="126">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                {{ card.name }}
                                                <span class="label label-default pull-right">{{ card.set }}</span>
                                            </h4>
                                            Best Seller: {{ card.cheapest_card.seller }}
                                            <br>
                                            Wear: {{card.cheapest_card.wear }}
                                            <br>
                                            Price: {{ card.cheapest_card.price }}
                                            <div class="btn-group pull-right">
                                                <p class="btn btn-default btn-lg">1</p>
                                                <div class="btn-group-vertical">
                                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="btn-toolbar pull-right">
                                                <button type="button" class="btn btn-info">Details/Other Sellers</button>
                                                <button type="button" class="btn btn-success">Add to Cart</button>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <!--End of the example card result-->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--This is for the right side panel shopping cart-->
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Shopping Cart</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;First card</li>
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;Second card</li>
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;Third card</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}