<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Results {{ cards }}</h3>
    </div>
    <div class="panel-body">
        <ul class="media-list">
            <!--This is an example of a card result-->
            {% for card in cards %}
            <li class="media">

                <img class="media-object pull-left card-preview-md" src="{{ card.front_art }} " onclick="detailView({{ card.id }}, '{{ card.name|escapejs }}', {{ card.cheapest_card.id }})">

                <div class="media-body">
                    <h4 class="media-heading">
                        {{ card.name }}
                        <span class="label label-default pull-right">{{ card.set }}</span>
                    </h4>
                    <table class = "table">
                        <tr>
                            <td>
                                {% if card.cheapest_card %}
                                Best Seller: {{ card.cheapest_card.seller }}
                                <br>
                                Wear: {{card.cheapest_card.wear }}
                                <br>
                                Price: <i class="fa fa-usd">&nbsp;{{ card.cheapest_card.price }}</i>
                                {% else %}
                                N/A with current filters.
                                {% endif%}
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% if card.cheapest_card %}
                                <p class = "pull-left">{{card.total_quantity}} cards available total from {{card.seller_count}} sellers.</p>
                                <p class = "pull-right"><input  style="text-align:center" id = "qty-{{ card.cheapest_card.id}}" type = "text" value = "1" size = "1">&nbsp; of {{ card.cheapest_card.quantity }}</p>
                                {% endif %}
                                <br>
                                <br>
                                <button type="button" class="btn btn-info pull-left" onclick="detailView({{ card.id }}, '{{ card.name|escapejs }}', {{ card.cheapest_card.id|default:0 }})">Details/Other Sellers</button>
                                {% if card.cheapest_card %}
                                <button type="button" class="btn btn-success add-cart-btn pull-right" onclick="addToCart(this, '{{card.cheapest_card.id}}')">Add to Cart</button>
                                {% endif %}
                            </td>
                        </tr>
                    </div>
                        </div>

                            </td>
                        </tr>

                    </table>




                </div>
            </li>
            {% endfor %}
            <!--End of the example card result-->
        </ul>
    </div>

</div>


<div style="text-align: center">

        <input type="hidden" id = "page" name="page" value = "{{ cards.number }}" form="filter_form">


        {% if cards.has_previous %}
            <input type="hidden" name="prevpage" id="prevpage" value="{{ cards.previous_page_number}}">
            <button type="button" onClick="changePage({{ cards.previous_page_number}} )">Previous</button>
        {% endif %}


            Page {{ cards.number }} of {{ cards.paginator.num_pages }}.


        {% if cards.has_next %}
            <input type="hidden" name="nextpage" id="nextpage" value="{{ cards.next_page_number}}">
            <button type ="button" onClick="changePage({{ cards.next_page_number}})">Next</button>
        {% endif %}

</div>
