{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Search{% endblock %}

{% block content %}
        <div class="section">
            <div class="container">
                <div class="row">
                    {% if search_text %}
                    <input type="hidden" id = "search_text" name="search_text" value = "{{ search_text }}" form="filter_form">
                    {% endif %}
                    <!--This groups the filter panels-->
                    <div class="col-md-3">
                        <form id="filter_form" name="filter_form" method="post" target="{% url 'search_body' %}">
                        <!--This is for the condition filter-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Condition</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Wear
                                        <ul class="media-list">
                                            {% for wear in filters.wear %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name = "wear" value = "{{wear.id}}">&nbsp;{{ wear }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Printing
                                        <ul class="media-list">
                                            {% for print in filters.print %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name = "printing" value = "{{ print.id }}">&nbsp;{{ print }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--This is for the card filters-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Card Filters</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Type
                                        <ul class="media-list">
                                            {% for type in filters.type %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="type" value="{{type.id}}"> {{ type }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Color
                                        <ul class="media-list">
                                            {% for color in filters.color %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="color" value="{{color.id}}">&nbsp;{{ color }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Rarity
                                        <ul class="media-list">
                                           {% for rarity in filters.rarity %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="rarity" value="{{rarity.id}}">&nbsp;{{ rarity }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        Set
                                        <ul class="media-list">
                                            {% for set in filters.set %}
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="set" value="{{set.id}}">&nbsp;{{ set }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </form>
                    </div>
                    
                    <!--This is for the results section-->
                    <div id="search_body" class="col-md-6">



                    </div>

                    <!--This is for the right side panel shopping cart-->
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Shopping Cart</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;First card</li>
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;Second card</li>
                                    <li><i class="fa fa-check-circle-o"></i>&nbsp;Third card</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}


{% block javascript %}
<script type="text/javascript" src={% static 'js/search.js' %}></script>
{% endblock %}