<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Shipping
        <a data-toggle="modal" onkeypress="pushClick(this)" role="button" tabindex="0" data-target="#shipping_modal" class="pull-right" style="cursor: pointer;"><u>Edit</u></a></h3>
    </div>
    <div class="panel-body">
        First Name: {{ shipping_info.first_name }}
        <br>
        Last Name: {{shipping_info.last_name}}
        <br>
        Address Line 1: {{shipping_info.address_line1}}
        <br>
        Address Line 2: {{shipping_info.address_line2}}
        <br>
        City: {{shipping_info.city}}
        <br>
        Zip: {{shipping_info.zip}}
        <br>
        Phone: {{shipping_info.phone}}
        <br>



    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Billing
        <a class="pull-right" role="button" tabindex="0" onkeypress="pushClick(this)" data-toggle="modal" data-target="#billing_modal" style="cursor: pointer;"><u>Edit</u></a></h3>
    </div>
    <div class="panel-body">
        <img src="{{ billing_info.card_provider.art }}" alt="{{ billing_info.card_provider.name }} logo">
        <br>
        Cardholder: {{billing_info.cardholder_name}}
        <br>
        Card Number: {{billing_info.card_number}}
        <br>
        Expiration: {{billing_info.exp_month}} {{billing_info.exp_year}}
        <br>
        Security Code: {{billing_info.sec_code}}


    </div>
    {{ form }}
</div>


<div class="modal fade" id = "shipping_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Billing</h4>
      </div>
      <div class="modal-body"">
          <form action="/shipping_billing_body/" method = "post">
              <input type="hidden" name = "info_type" value="shipping" aria-label="enter shipping information">
              {% csrf_token %}
              {{ shipping_form.as_p }}
              <input type = "submit" value="Save">
              <input onclick="clearShipping()" type = "button" value="Clear">
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id = "billing_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Billing</h4>
      </div>
      <div class="modal-body">
          <form action="/shipping_billing_body/" method = "post">
              <input type="hidden" name = "info_type" value="billing" aria-label="enter billing information">
              {% csrf_token %}
              {{ billing_form.as_p }}
              <input type = "submit" value="Save">
              <input onclick="clearBilling()" type = "button" value="Clear">
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->