{% if cardlist %}
<table class="table table-striped table-condensed small">
    <tbody>
    {% for card in cardlist %}
    <tr>
        <td>{{ card.card_details.name}}<br><small>{{ card.seller }}</small></td>
        <td>{{ card.wear }}<br><small>{{ card.printing }}</small></td>
        <td>${{card.price}}</td>
        <td><button onclick="removeFromCart({{card.id}})" class="fa fa-close pull-right" aria-hidden="true" style="border:0px solid black; background-color: transparent;"></button></td>
    </tr>
    {% endfor %}
    <tr>
        <td><b>Total</b></td>
        <td></td>
        <td>${{total}}</td>
        <td></td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-success pull-right">Checkout</button>
{% else %}
Your cart is empty.
{% endif %}