{% load staticfiles %}

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <form id="add_card_form" onsubmit="return add_card()" action = "/add_card/" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input class = "btn btn-primary" id="add_card_submit" name = "submit" type = "submit" value = "Submit" />
                            <br>
                            <br>
                            <p id = "card_added" class = "bg-info">Card Added! Redirecting to store.</p>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <!-- could add preview javascript upon selecting -->

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
